<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style>
        table {
            margin-top: 10px;
            margin-right: 5px;
            width: 50%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #A9A9A9;
            background-color: #A9A9A9;
        }

        .btn {
            background-color: #A9A9A9;
            color: black;
            padding: 10px 20px;
            border: none;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
            }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #FFFFFF">
<hr />
  <div class="row">
    <div class="col-md-6">
      <canvas id="myDriverline"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="myAutoline"></canvas>
    </div>
  </div>
<div id="parameter_table">
</div>
<p>
    <a class="btn" href="{% url 'lab9:waybill' %}">Путевой лист</a>
</p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Параметр</th>
    </tr>
    </thead>
    <tbody>
    {% for d in drivers %}
    <tr>
        <td>{{ d.driver }} </td>
        <td>{{ d.sum_milage }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
 <script>
     $.ajax({
        method: "GET",
        url: "{% url 'lab9:func' %}",
        success: function(data) {
            drawDriversGraph(data, 'myDriverline');
            drawAutoGraph(data, 'myAutoline');
            console.log("drawing");
        },
        error: function(error_data) {
            console.log(error_data);
        }
     })

    function drawDriversGraph(data, id) {
      var drivers_labels = data.drivers_labels;
      var drivers_label = data.drivers_label;
      var drivers_data = data.drivers_data;
      var average_drivers = data.average_drivers;
      var ctx = document.getElementById(id).getContext('2d');
      var chart1 = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: drivers_labels,
          datasets: [{
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            backgroundColor: 'rgba(0, 0, 255, 0.2)',
            label: drivers_label,
            data: drivers_data,
          }, {
            type: 'line',
            label: 'Средний пробег',
            borderColor: 'rgb(200, 0, 0)',
            data: average_drivers}]
        },

        // Configuration options go here
        options: {
          scales: {
            xAxes: [{
              display: true
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    }

     function drawAutoGraph(data, id) {
        var auto_labels = data.auto_labels;
        var auto_label = data.auto_label;
        var auto_data = data.auto_data;
        var average_auto = data.average_auto;
        var ctx = document.getElementById(id).getContext('2d');
        var chart1 = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: auto_labels,
          datasets: [{
            barPercentage: 0.5,
            barThickness: 6,
            maxBarThickness: 8,
            minBarLength: 2,
            backgroundColor: 'rgba(0, 0, 255, 0.2)',
            label: auto_label,
            data: auto_data,
          }, {
            type: 'line',
            label: 'Средний расход',
            borderColor: 'rgb(200, 0, 0)',
            data: average_auto}]
        },

        // Configuration options go here
        options: {
          scales: {
            xAxes: [{
              display: true
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
     }
 </script>
</body>
</html>
